<div class="landing-container">
  <!-- Seção Principal - Mensagem de Boas-Vindas -->
  <div class="main-section">
    <h1>Bem-vindo ao A Conexão Solidária</h1>
    <p>Facilitando doações para combater a pobreza e ajudar comunidades carentes.</p>


    <div class="image-container">
      <img src="assets/images/criança-fome-portal.png" alt="Child" class="image-hunger"/>
    </div>

    <!-- Mensagem convidando para a missão -->
    <div class="mission-message">
      <h2>Junte-se a nós na missão de combater a pobreza!</h2>
      <p>Com sua ajuda, podemos fazer a diferença. Doe agora e ajude a transformar vidas.</p>
    </div>

    <!-- Botões -->
    <button (click)="Doar()">Doe Agora ❤️</button>
  </div>

  <!-- Seção de Informações -->
  <div class="info-section">
    <h2>Como Funciona</h2>
    <p>A plataforma conecta doadores com instituições que combatem a fome no estado do Espírito Santo, tornando o processo de doação simples e eficiente. Cadastre-se e comece a ajudar!</p>
  </div>

  <!-- Seção Sobre o Projeto -->
  <div class="about-section">
    <h2>Sobre o Projeto</h2>
    <p>
      A Conexão Solidária foi criada com o objetivo de unir pessoas dispostas a ajudar a combater a pobreza
      e melhorar a qualidade de vida de comunidades carentes. O projeto está focado no estado do Espírito Santo e é um trabalho extensionista da faculdade, oferecendo uma plataforma onde doadores podem
      facilmente identificar as necessidades das instituições e fazer doações de forma simples e eficiente.
    </p>
    <p>
      Nossa missão é transformar a realidade de milhares de pessoas em situação de vulnerabilidade, tornando
      o ato de doar acessível a todos. Junte-se a nós e faça a diferença!
    </p>
  </div>

  <div class="developer-section">
    <h2>Quem Desenvolveu o Projeto</h2>
    <div class="developer-info">
      <div class="developer-image">
        <img src="assets/images/foto.jpeg" alt="Desenvolvedor" class="developer-photo"/>
      </div>
      <div class="developer-details">
        <h3>Matheus Amorim</h3>
        <p><strong>Responsável por todo o projeto</strong></p>
      </div>
    </div>
  </div>


</div>
